.A{
    background-color: aquamarine;
    
}
.B{
background-color: aqua;
}
.C{
    background-color: beige;
}button{
    background-color: rgb(0, 0, 0);
    color:azure;
    height: 50px;
    width:100px;
    padding: 5px; 

    margin:20px px 200px 200px;
}
button.hover{
    background-color: chartreuse;
    color:blanchedalmond;
    height: 50px;
    width:100px;
    padding: 5px;
    border-style: double;
    border-radius:55px;
    margin:20px 20px 20px 200px;
    ;

}